/* CSS Qs: is this standard? and how do I space in CSS🚫*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: white;
}

header {
    padding 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #43576b;
}

header h1 {
    display: inline-block
    font-size: 48px
    color:white;
}

/* need to adjust padding between text */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#43576b;
}
  /* need to adjust padding between text - how */
  header nav ul li {
    display: inline;
  }
  
header nav ul {
    list-style-type: none;
}

/* take live when I fix header nav section. Do I need this? */

/* header nav ul li {
    display: inline-block;
    margin-left: 25px;
} */

header a {
    text-decoration: none;
    color:white;
}
/* hero styling */
.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: 
    background-size: cover;
    background-position: center;
  }

/* content styling */
/* .content {
    width: 75px;
    display: inline-block;
    margin-left: ;
} */

.main-content h2 {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    color: #43576b;
}